.idea/
.vscode/
node_modules/
build/
temp/
dist/

db/

tmp/*
!tmp/uploads/.gitkeep
!tmp/.gitkeep

yarn.lock
yarn-error.log

*.env
!*.example

*.dev

*debug.log*

ormconfig.*
!ormconfig.dev.*
!ormconfig.prod.*

.DS_Store
